html,body {
	height:100%; 
	padding-top:0px; 
	overflow-x:hidden; 
	overflow-y:hidden
}

.zeroRef{
	padding:0px;
	margin:0px
}

.fullScreenHeight{
	height:100%;
}

.align-center{
	text-align:  center;
}

.limitWidth{
	width:50%;
	margin:2em auto auto auto;
}

.username, .password{
	height:auto;
	font-size: 16px;
	width: 100%;
	border: 1px solid #d9d9d9;
	border-top: 1px solid #c0c0c0;
	border-radius: 5px;
	padding: 1em;
	box-sizing: border-box;
	margin: 1em auto auto auto;
}