<div class="row">
	<div class="$mdDialog" layout="column" layout-align="center center" style="width:100%"></div>
	<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">	
		<div ng-switch="screen.contents[0].type">
			<div ng-switch-when="0" class="image">
				<br/> <br/>
				<h3 class="align-center">NO IMAGE</h3>
			</div>
			<div ng-switch-when="1">
				<img ng-style="windowHeight" class="align-center image-temp1" ng-src="{{screen.contents[0].param1}}"/>
			</div>
			<div ng-switch-when="2">
				<img ng-style="windowHeight"  ng-show="!picFile0" ng-src="../../manager/uploads/{{screen.contents[0].param1}}" class="image-temp1"/>
			</div>
		</div>
	</div>
	<div ng-style="windowHeight" class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
		<div class="image">
			<div ng-switch="screen.contents[1].type">
				<div ng-switch-when="0" >
					<br/> <br/>
					<h3 class="align-center">NO TWITTER</h3>
				</div>
				<div ng-switch-when="4" >
					<div >
						<div render-iframely ng-bind-html="EmbedTweet"></div>
						<div >
							<div class="align-center">
								<md-progress-circular md-mode="indeterminate" ng-hide="LoadingAnim" ng-disabled="LoadingAnim" class="loadingAnim" md-diameter="200px"></md-progress-circular>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

