<div class="row">
    <div class="$mdDialog" layout="column" layout-align="center center" style="width:100%"></div>
    <div id="leftZone" class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
        <div class="image">
            <div ng-switch="screen.contents[2].type">
                <div ng-switch-when="0" >
                    <br/> <br/>
                    <h3 class="align-center">NO YOUTUBE</h3>
                </div>
                <div ng-switch-when="5" >
                    <div>
                        <youtube-video player-vars="playerVars" ng-style="windowHalfHeight" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" video-id="screen.contents[2].param1"></youtube-video>
                    </div>
                </div>
            </div>
           
                <div ng-switch="screen.contents[0].type">
                    <div ng-switch-when="0">
                        <br/> <br/>
                        <h3 class="align-center">NO IMAGE</h3>
                    </div>
                    <div ng-switch-when="1">
                        <img class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-style="windowHalfHeight" class="align-center" ng-src="{{screen.contents[0].param1}}"/>
                    </div>
                    <div ng-switch-when="2">
                        <img ng-show="!picFile0" ng-src="../../manager/uploads/{{screen.contents[0].param1}}" class="image-temp1"/>
                    </div>
                </div>
            
        </div>
    </div>
    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
        <div class="image">
            <div ng-switch="screen.contents[1].type">
                <div ng-switch-when="0" >
                    <br/> <br/>
                    <h3 class="align-center">NO TWITTER</h3>
                </div>
                <div ng-switch-when="4" >
                    <div >
                        <div render-iframely ng-bind-html="EmbedTweet"></div>
                        <div >
                            <div class="align-center">
                                <md-progress-circular md-mode="indeterminate" ng-hide="LoadingAnim" ng-disabled="LoadingAnim" class="loadingAnim" md-diameter="200px"></md-progress-circular>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

