<div class="row" >
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="image">
           	<div ng-switch="screen.contents[0].type">
                <div ng-switch-when="0" >
                    <br/> <br/>
                    <h3 class="align-center">NO YOUTUBE</h3>
                </div>
                <div ng-switch-when="5">
                    <div>
                        <youtube-video player-vars="playerVars" ng-style="windowHeight" class="image-temp1" video-id="screen.contents[0].param1"></youtube-video>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>