.layout{
	border:1px solid #9D9D9D;
	padding:1em;
	border-radius: 5px;
	background: #e8eaf8;
}

.image{
	border:1px solid #9D9D9D;
	padding:1em;
	border-radius: 5px;
	background: #e8ea15;
}

.video{
	border:1px solid #9D9D9D;
	padding:1em;
	border-radius: 5px;
	background: #e8ea47;
}

.socialmedia{
	border:1px solid #9D9D9D;
	padding:1em;
	border-radius: 5px;
	background: #e8ea89;
}