<div class="row">
	<div class="$mdDialog" layout="column" layout-align="center center" style="width:100%"></div>
	<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">	
		<div flow-init="{singleFile:true}" flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]" class="ng-scope">
			<div class="btn-group" style="position: absolute; opacity: 0.7; padding-top: 1em; padding-left: 1em;">
				<button class="btn btn-danger" ng-click="remove(0)"><span class="glyphicon glyphicon-remove" ></span></button>
				<button class="btn btn-info" ng-click="edit(0)"><span class="glyphicon glyphicon-edit" ></span></button>
				<button class="btn btn-warning" ng-click="upload(0)" flow-btn="" ><span class="glyphicon glyphicon-upload" ></span></button>
			</div>
			<div ng-switch="screen.contents[0].type">
				<div ng-switch-when="0" class="image">
					<br/> <br/>
					<h3 class="align-center">NO IMAGE</h3>
				</div>
				<div ng-switch-when="1">
					<img class="align-center image-temp1" ng-src="{{screen.contents[0].param1}}"/>
				</div>
				<div ng-switch-when="2">
					<div class="image-temp1">
						<div class="thumbnail nomargin-padding ng-hide" ng-show="$flow.files.length">
							<img flow-img="$flow.files[0]">
							<input style="visibility: hidden; position: absolute;" type="file"/>
						</div>
					</div> 

				</div>
			</div>
		</div>
		<div class="image">
			<div class="btn-group" style=" opacity: 0.7; padding-top: 1em; padding-left: 1em;">
				<button class="btn btn-danger" ng-click="remove(2)"><span class="glyphicon glyphicon-remove" ></span></button>
				<button class="btn btn-info" ng-click="addNewTweet(2)"><span class="glyphicon glyphicon-edit" ></span></button>
			</div>
			<div ng-switch="screen.contents[2].type">
				<div ng-switch-when="0" >
					<br/> <br/>
					<h3 class="align-center">NO TWITTER</h3>
				</div>
				<div ng-switch-when="4" >
					<div >
						<div render-iframely ng-bind-html="EmbedTweet"></div>
						<div >
							<div class="align-center">
								<md-progress-circular md-mode="indeterminate" ng-hide="LoadingAnim" ng-disabled="LoadingAnim" class="loadingAnim" md-diameter="50px"></md-progress-circular>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
		
	</div>
	<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
		<div flow-init="{singleFile:true}" flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]" class="ng-scope">
			<div class="btn-group" style="position: absolute; opacity: 0.7; padding-top: 1em; padding-left: 1em;">
				<button class="btn btn-danger" ng-click="remove(1)"><span class="glyphicon glyphicon-remove" ></span></button>
				<button class="btn btn-info" ng-click="edit(1)"><span class="glyphicon glyphicon-edit" ></span></button>
				<button class="btn btn-warning" ng-click="upload(1)" flow-btn="" ><span class="glyphicon glyphicon-upload" ></span></button>
			</div>
			<div ng-switch="screen.contents[1].type">
				<div ng-switch-when="0" class="image">
					<br/> <br/>
					<h3 class="align-center">NO IMAGE</h3>
				</div>
				<div ng-switch-when="1">
					<img class="align-center image-temp1" ng-src="{{screen.contents[1].param1}}"/>
				</div>
				<div ng-switch-when="2">
					<div class="image-temp1">
						<div class="thumbnail nomargin-padding ng-hide" ng-show="$flow.files.length">
							<img flow-img="$flow.files[0]">
							<input style="visibility: hidden; position: absolute;" type="file"/>
						</div>
					</div> 

				</div>
			</div>
		</div>
	</div>
</div>

