<div class="row" >
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="image">
            <div class="btn-group" style="opacity: 0.7; padding-top: 1em; padding-left: 1em;">
                <button class="btn btn-danger" ng-click="remove(0)"><span class="glyphicon glyphicon-remove" ></span></button>
                <button class="btn btn-info" ng-click="addNewYoutube(0)"><span class="glyphicon glyphicon-edit" ></span></button>
            </div>
            <div ng-switch="screen.contents[0].type">
                <div ng-style="{height :canvasHeight+'px'}" ng-switch-when="0" >
                    <br/> <br/>
                    <h3 class="align-center">NO YOUTUBE</h3>
                </div>
                <div class="row" ng-switch-when="5" >
                    <div>
                        <youtube-video class="col-xs-12 col-sm-12 col-md-12 col-lg-12" video-id="screen.contents[0].param1"></youtube-video>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>