<div class="row" >
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="btn-group" style="position: absolute; opacity: 0.7; padding-top: 1em; padding-left: 1em;">
      <button class="btn btn-danger" ng-click="remove(0)"><span class="glyphicon glyphicon-remove" ></span></button>
      <button class="btn btn-info" ng-click="edit(0)"><span class="glyphicon glyphicon-edit" ></span></button>
      <button class="btn btn-warning" type="file" ngf-select="uploadImage(0, $file, $invalidFiles)" ng-model="picFile0" name="image"
      accept="image/*" ngf-max-size="10MB"><span class="glyphicon glyphicon-upload" ></span></button>
    </div>
    <div ng-switch="screen.contents[0].type">
      <div ng-style="{height :canvasHeight+'px'}" ng-switch-when="0">
        <br/> <br/>
        <h3 class="align-center">NO IMAGE</h3>
      </div>
      <div ng-switch-when="1">
        <img class="align-center image-temp1" ng-src="{{screen.contents[0].param1}}"/>
      </div>
      <div ng-switch-when="2">
        <img ng-show="picFile0" ngf-src="picFile0" class="image-temp1">
        <img ng-show="!picFile0" ng-src="uploads/{{screen.contents[0].param1}}" class="image-temp1"/>
      </div>
    </div>
  </div>
</div>

