
<div ng-controller="youtubeCtrl">
<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7" >
    <div class="sameHeight video">
        <div class="btn-group" style="position: absolute; opacity: 0.7; padding-top: 1em;">
            <button class="btn btn-danger" ng-click="remove(0)"><span class="glyphicon glyphicon-remove" ></span></button>
            <button class="btn btn-info" ng-click="addNewYoutube()"><span class="glyphicon glyphicon-edit" ></span></button>
            <button class="btn btn-warning" ng-click="upload(0)" ><span class="glyphicon glyphicon-upload" ></span></button>
        </div>
        <youtube-video video-id="video"></youtube-video>
        <div>
            <div class="$mdDialog" layout="column" layout-align="center center" style="width:100%">
            </div>

        </div>
    </div>
</div>
</div>